body {
    color: #777;
    background: url("images/concrete_seamless.png");
}

.cat-image {
    width: 170px;
    height: auto;
    float: left;
    padding: 10px;
}

.social {
    width: 62px;
    height: 62px;
    margin-right: 12px;
}

.contact-social {
    margin-right: 5px;
}

.work {
    width: 274px;
    height: auto;
    float: left;
    padding: 15px;
}

.work-right {
    width: 274px;
    height: auto;
    float: right;
    padding: 15px;
}

.row {
    margin-bottom: 30px;
}

.form-area {
    margin-bottom: 50px;
}

.carousel-caption {
    background-color: cyan;
    width: 100%;
    margin-left: 15px;
}


/* container {} */