body {
    color: #777;
    background: url("images/concrete_seamless.png");
}

.cat-image {
    width: 170px;
    height: auto;
    float: left;
    padding: 10px;
}

.social {
    width: 62px;
    height: 62px;
    margin-right: 12px;
}

.contact-social {
    margin-right: 5px;
}

.work {
    width: 274px;
    height: auto;
    float: left;
    padding: 15px;
}

.work-right {
    width: 274px;
    height: auto;
    float: right;
    padding: 15px;
}

.form-area {
    margin-bottom: 50px;
}

.panel-about-me {   /* Only did this because the container wasn't working for the about me panel */
    width: 96%;
    margin-left: 2%;
}

/* .carousel-caption {
    background-color: cyan;
    width: 100%;
    margin-left: 15px;
} */

/* container {} */